<head>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>


<style>
	.row {
		padding: 10px;
	}
</style>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Text</span>
					<input id="text" name="text" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
				</div>
			</div>
			<div class="col-md-2">
				<select class="form-control" id="language">
					<option value="pt">Português</option>
					<option value="en">Inglês</option>
					<option value="es">Espanhol</option>
				</select>
			</div>
			<div class="col-md-2">
				<input id="btnRequest" class="btn btn-primary" type="button" value="Request">
			</div>
		</div>
		<div class="row">
			<audio controls>
				<source id="source" src="" type="audio/mpeg">
			</audio>
		</div>
	</div>

</body>
<script>

    $('#btnRequest').click(function() {
        var text = $('#text').val();
        var languageCode = $('#language option:selected').val();

		$.get( "http://localhost:31735/api/TextToSpeech", { text: text, languageCode: languageCode } )
            .done(function( data ) {
				$('#source').attr('src',data);
                 var reader = new FileReader();
            })
    });
</script>